<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <input formControlName="firstName" placeholder="Your name">
    <input formControlName="email" placeholder="Your email">
    <input formControlName="phoneNumber" placeholder="Your message">
  
    <button type="submit">Register</button>
  </form> -->


  <h1>
    {{title}}
  </h1>
  
  <button routerLink="/registration">Customers</button>
  <button routerLink="/test">Orders</button>
  <button routerLink="">Home</button>

  <router-outlet></router-outlet>